@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    /* border: 2px solid red; */
}

body {
    margin: 0;
}

.page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(191, 0, 255, 0.15);
    justify-content: space-around;
}

.color-list {
    flex: 1;
    margin: 74px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    padding: 12px 12px 0 24px;
    gap: 16px;
    overflow: scroll;
}

.particle-entry {
    display: flex;
    gap: 16px;
}

button.remove {
    font-size: 24px;
    padding: auto;
    border-radius: 50px;
}

.particle-name {
    flex: 1;
    border-radius: 5px;
    font-size: 18px;
}

.particle-color {
    margin-right: 10px;
    padding: 0px 20px;
}

.particle-color.pressed {
    background-color: rgba(255, 141, 246, 0.8);
}

.color-picker {
    width: 30px;
    height: 30px;
    border-radius: 25px;
}

.color-picker::-webkit-color-swatch {
    border-radius: 25px;
}

.add-particle {
    margin: 0 auto;
}

.center {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 26px;
    gap: 16px;
    flex: 1;
}

.right {
    flex: 1;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px auto 0;
}

.right input {
    border-radius: 7px;
    border: 2px solid black;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.right input[type="number"] {
    width: 10%;
}

.right input[type="radio"] {
    margin: 8px 10px;
    
}

.right label {
    font-size: 16px;
}

.right div {
    margin-top: 20px;
}

.right .orientation {
    margin-top: 15px;
}

.right .model-3d {
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 300px;
    width: 350px;
}

.right .model-3d:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
                0 17px 50px 0 rgba(0,0,0,0.19);
}

.title {
    font-size: 36px;
}

.buttons {
    display: flex;
    gap: 30px;
}

button {
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 5px darkgray;
    transition: background-color 0.4s;
    background-color: rgba(191, 0, 255, 0.15);
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
                0 17px 50px 0 rgba(0,0,0,0.19),
                0 5px darkgray;
    background-color: rgba(255, 141, 246, 0.8);
}

button.remove:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

button.generate:hover {
    background-color: rgba(100, 255, 100, 0.7);
}

button.pressed:hover {
    box-shadow: 0 1px darkgray;
}

.pressed {
    transform: translateY(5px);
    box-shadow: 0 1px darkgray;
    background-color: rgba(255, 141, 246, 0.4);
}

button:active {
    transform: translateY(5px);
    box-shadow: 0 1px darkgray;
}

.grid {
    border: 2px solid black;
    width: 75vh;
    height: 75vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(191, 0, 255, 0.15);
}

.hidden {
    display: none;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    border: 1px solid lightgray;
    flex: 1;
    opacity: 0;
    background-color: transparent;
}

.square.cursor {
    background-color: black;
    opacity: 0.2;
}

.square.on {
    /* border: 1px solid lime; */
    opacity: 1;
}

.erase-cursor {
    border: 4px solid red;
    background-color: transparent;
    opacity: 1;
    margin: -3px;
    z-index: 1;
}

.fullscreen-model {
    /* display: none; */
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(191, 0, 255, 0.15);
}

.layers-sidebar {
    width: 11vw;
    margin: 48px 0 32px 130px;
    justify-content: left;
    align-items: stretch;
    border: 4px solid black;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgba(244, 210, 255, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.layers-top {
    border-bottom: 3px solid black;
    background-color: rgba(191, 0, 255, 0.2);
    text-align: center;
    padding: 8px;
}

.layers-list {
    overflow: scroll;
}

.layers-bottom {
    border-top: 3px solid black;
    margin-top: auto;
    min-height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layers-bottom label {
    display: flex;
    gap: 6px;
    margin-left: 4px;
    font-size: 17px;
}

.layer {
    border-bottom: 2px solid black;
    font-size: 18px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 24px;
}

.layer-text {
    font-size: 18px;
}

.selected-layer {
    background-color: rgba(255, 141, 246, 0.5);
}

.layer:hover {
    background-color: rgba(255, 141, 246, 0.8);
}

.remove-layer {
    height: 24px;
    padding: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px darkgray;
}

.remove-layer:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.add-layer {
    margin-top: 10px;
    margin-left: 54px;
    margin-bottom: 60px;
    width: 48px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-renderer {
    border: 4px solid black;
    width: 65vw;
    margin: 48px 100px 32px 0;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.full-renderer canvas {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.output {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(191, 0, 255, 0.15);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.output-title {
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

.output-box {
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    background-color: rgba(191, 0, 255, 0.075);
    min-width: 500px;
    min-height: 400px;
}

.output-box div {
    font-size: 18px;
}

.output-box:hover {
    transition: background-color 0.4s;
    background-color: rgba(191, 0, 255, 0.4);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
                0 17px 50px 0 rgba(0,0,0,0.19);
}

.tip {
    font-size: 24px;
    padding-bottom: 30px;
}